body{
    background-color: cornflowerblue;
}

.hiba-uzenet {
    color: red;
    font-weight: bold;
}

#koszonokartya {
    display: none;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


main {
    flex-grow: 1;
}


footer {
    flex-shrink: 0;
    background-color: #343a40;
    color: white;
}